SANITY_STUDIO_PROJECT_ID=0fzde33q
SANITY_STUDIO_DATASET=production
SANITY_STUDIO_ORGANIZATION_ID=
NEXT_PUBLIC_SANITY_PROJECT_ID=0fzde33q
NEXT_PUBLIC_SANITY_DATASET=production
PRESENTATION_PASSWORD=
PRESENTATION_PASSWORDS={"maspex":"osobne-haslo-dla-maspex"}
PRESENTATION_AUTH_SECRET=
PRESENTATION_SESSION_SECONDS=43200
